<body>
<form [formGroup]="quizSettingsForm" (ngSubmit)="onSubmit()" class="card-container">
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category" required>
      <mat-option value="9">General Knowledge</mat-option>
      <mat-option value="10">Entertainment: Books</mat-option>
      <mat-option value="11">Entertainment: Film</mat-option>
      <mat-option value="12">Entertainment: Music</mat-option>
      <mat-option value="13">Entertainment: Musicals & Theatres</mat-option>
      <mat-option value="14">Entertainment: Television</mat-option>
      <mat-option value="15">Entertainment: Video Games</mat-option>
      <mat-option value="16">Entertainment: Board Games</mat-option>
      <mat-option value="17">Science & Nature</mat-option>
      <mat-option value="18">Science: Computers</mat-option>
      <mat-option value="19">Science: Mathematics</mat-option>
      <mat-option value="20">Mythology</mat-option>
      <mat-option value="21">Sports</mat-option>
      <mat-option value="22">Geography</mat-option>
      <mat-option value="23">History</mat-option>
      <mat-option value="24">Politics</mat-option>
      <mat-option value="25">Art</mat-option>
      <mat-option value="26">Celebrities</mat-option>
      <mat-option value="27">Animals</mat-option>
      <mat-option value="28">Vehicles</mat-option>
      <mat-option value="29">Entertainment: Comics</mat-option>
      <mat-option value="30">Science: Gadgets</mat-option>
      <mat-option value="31">Entertainment: Japanese Anime & Manga</mat-option>
      <mat-option value="32">Entertainment: Cartoon & Animations</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Difficulty</mat-label>
    <mat-select formControlName="difficulty" required>
      <mat-option value="easy">Easy</mat-option>
      <mat-option value="medium">Medium</mat-option>
      <mat-option value="hard">Hard</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type" required>
      <mat-option value="multiple">Multiple Choice</mat-option>
      <mat-option value="boolean">True / False</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Number of Questions</mat-label>
    <input matInput formControlName="amount" type="number" min="1" max="50" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!quizSettingsForm.valid">Take Quiz</button>
</form>
</body>
